// Footer arrow
@keyframes arrowHintRight
  0%
    transform: translateX(0)
    opacity: 1
  33%
    transform: translateX(50%)
    opacity: 0
  34%
    transform: translateX(-50%)
    opacity: 0
  66%
    transform: translateX(0%)
    opacity: 1

// Mobile nav slide
.nav-mobile-enter-active, .nav-mobile-leave-active
  transition-property: transform
  transition-duration: $transitionDuration

.nav-mobile-enter-active
  transition-timing-function: ease-out

.nav-mobile-leave-active
  transition-timing-function: ease-in

.nav-mobile-enter, .nav-mobile-leave-to
  transform: translateX(-100%)

// Dialog
.dialog-enter-active, .dialog-leave-active
  transition-property: opacity, transform
  transition-duration: 400ms

.dialog-enter-active
  transition-timing-function: ease-out

.dialog-leave-active
  transition-timing-function: ease-in

.dialog-enter, .dialog-leave-to
  opacity: 0
  transform: translateY(20%) rotateY(-20deg)
  transform-origin: 50% 100%
